<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <header>
        <h1><%= title %></h1>
      </header>
      <section>
        <a href="/">New random recipe ⟳</a>
        <h3>Summary</h3>
        <p><%- summary %></p>
        <h3>Find out more: <a href="<%= sourceUrl %>" target="_blank">original source</a></h3>
        <h3>Instructions</h3>
        <p><%- instructions %></p>
        <p><img src="<%= image %>" ></p>
      </section>
    </div>
  </body>
</html>